<div class="p-2">
  <p> <%= link_to 'About Page', about_path %> </p>
</div>

<div class="p-2">
  <p> <%= link_to 'The articles page', articles_path %> </p>
</div>

<div class="p-2">
  <p> <%= link_to 'Log In', login_path %> </p>
</div>

<% if logged_in? && current_user %>
    <%= button_to "Log Out", logout_path,  method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline-dark" %>
<% end  %>

<h1 class="h1--index p-4">The full listing of articles: </h1>

<div class="digg_pagination text-center m-4 pb-3">
  <div class="page_info">
    <%= page_entries_info @article %>
  </div>
  <%= will_paginate @article, :container => false %>
</div>

<div class="articles--table p-4">
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @article.each do |article| %>
      <tr>
        <td class="title"> <%= article.title %></td>
        <td class="desc"> <%= article.description %></td>
        <td> <%= link_to 'Show', article_path(article.id) %></td>

        <% if logged_in? && current_user == article.user %>
            <td> <%= link_to 'Edit', edit_article_path(article.id) %></td>
            <td> <%= link_to 'Delete', article_path(article.id),  data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %> </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= link_to 'Create a new article', new_article_path %>
  </p>

</div>

<div class="gifcat--img">
  <img src="https://imgs.search.brave.com/HIOP_ok7rEDLaGTxvz6_6HRfkmXvHI9RTxMWIkzecHs/rs:fit:370:300:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZm0wQ2c1V0Zz/eTgvV0Y2WVdKeVV2/dUkvQUFBQUFBQUZv/ZjAvblJzcTNKTGZ3/TndQcVpBMjBmUERG/QUg4YU9VRkxIN25B/Q0xjQi9zMTYwMC9B/VzM1NjIzNF8wNC5n/aWY.gif"/>
</div>