<h1 class="h1--new--article">Creating a new article...</h1>

<!-- error displaying messages (when saving @article to db is unsuccessful) -->
<% if @article.errors.any? %>
  <h1> The following errors prevented us from saving data in DB: </h1>
  <ul>
    <% @article.errors.full_messages.each do |err| %>
      <li> <%= err %> </li>
    <% end %>
  </ul>
<% end %>

<!-- the form scope is a an article model, url and method included-->
<div class="pt-4">
  <%= form_with scope: :article, url: '/articles', method: :post, data: { turbo: false } do |form| %>

    <div class="p-2">
      <%= form.label :title %> <br>
      <%= form.text_field :title %>
    </div>

    <div class="p-2">
      <%= form.label :description %> <br>
      <%= form.text_area :description %>
    </div>

    <div class="p-2">
      <%= form.label :category %> <br>
      <%= form.collection_select :category_ids, Category.order(:name), :id, :name,
                                 {prompt: "Please Select a Category (can be empty)"}, {multiple: true}
                                   %>
    </div>

    <div class="p-2">
      <%= form.submit "enter" %>
    </div>


  <% end %>
</div>