<div class="p-4">
  <h1 class="showing-details">Showing details</h1>

  <div class="title">Title: <%= @article.title %></div>

  <div>
    <% if @article.categories.any? %>
      <%= render @article.categories %>
    <% end %>
  </div>

  <div class="description">Description: <%= @article.description %></div>

  <p>
    <% if logged_in? && (@article.user_id == current_user.id || current_user.admin?) %>
        <%= link_to 'Edit', edit_article_path(@article), class: "" %>
      <%= button_to "Delete", article_path(@article),  method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline-dark" %>
      <% end %>
    <%= link_to 'Return to the main page', root_path %>
</p>

</div>