<% if @user.errors.any? %>
  <h1> The following errors prevented us from saving data in DB: </h1>
  <ul>
    <% @user.errors.full_messages.each do |err| %>
      <li> <%= err %> </li>
    <% end %>
  </ul>
<% end %>

  <% unless logged_in? %>
  <<div class="p-3">
    <h1>Log in first.</h1>
    <p>
      <%= link_to 'Login', login_path %>
    </p>
  </div>

<%  end %>

<div class="p-2 m--1">
  <% if logged_in? && (@user.id != current_user.id && current_user.admin == false) %>
    <h1> Sorry, you are not permitted to edit this user.</h1>
    <p>
      <%= link_to 'Return to articles', articles_path %>
    </p>
    <p>
      <%= link_to 'Return to users', users_path %>
    </p>
    <p>
     <%= link_to 'Return to main page', root_path %>
    </p>
  <% end %>
</div>

<div class="p-2">
  <% if logged_in? && (@user.id == current_user.id || current_user.admin?) %>
    <h1> Editing the user </h1>
    <%= form_with model: @user, method: :patch do |form|  %>
      <p>
        <%= form.label :username %> <br>
        <%= form.text_field :username %>
      </p>

      <p>
        <%= form.label :email %> <br>
        <%= form.email_field :email %>
      </p>

      <p>
        <%= form.label :password %> <br>
        <%= form.password_field :password %>
      </p>

      <p>
        <%= form.submit(@user.new_record? ? 'Sign Up' : 'Update account')%>
      </p>
    <% end %>
  <% end %>
</div>


