<div class="p-4">
  <% if logged_in? && current_user == @user %>
    Logged in as <%= current_user.email %>
    <p></p>

    <%= "Admin" if current_user.admin? %>

    <p></p>

    <%= button_to "Log Out", logout_path,  method: :delete, data: { turbo_method: :delete }, class: "m-1 btn btn-outline-dark" %>
    <%= button_to "Delete account", user_path(current_user),  method: :delete, data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?" }, class: "m-1 btn btn-outline-danger" %>

    <% end %>

  <% unless logged_in? %>
  <%=  link_to "Sign Up", signup_path  %> or
    <%=  link_to "Log In", login_path  %>
  <%  end %>
</div>

  <div class=" dropdown-menu d-flex align-items-end flex-column" aria-labelledby="navbarDropdownMenuLink">
    <div class="dropdown-item p-2">
      <%= link_to 'Return to the articles page', articles_path %>
    </div>
    <div class="dropdown-item p-2">
      <%= link_to 'Return to the main page', root_path %>
    </div>
    <div class="dropdown-item p-2">
      <%= link_to 'Update the profile', edit_user_path(@user) %>
    </div>
  </div>

<div class="p-4">

  <%= gravatar_for @user, size: 200%>

  <div class="digg_pagination text-center m-4 pb-3">
    <div class="page_info">
      <%= page_entries_info @article %>
    </div>
    <%= will_paginate @article, :container => false %>
  </div>

  <h1 class="text-info"> All info about the person is here: </h1>
  <p class="text-muted"> Username: <%= @user.username %></p>
  <p class="font-weight-bold"> Email: <%= mail_to @user.email %></p>

  <p>All articles</p>
  <%= render 'layouts/partials/articles' %> <!--to display particular article, connected to the user-->


</div>